/*nav-bar*/
.verde{
    color:green;
 }
/*toda la pag. menos nav y footer*/
.distribucion{ 
    margin-left: 200px; 
    margin-right: 200px;
    margin-top: 30px
    
}

/*card1 - Estudiante*/
#card1{
    border: 2px solid blue;
    box-shadow: grey 6px 6px 15px;
    transition: background-color 0.3s;
}
#card1:hover {
    background-color: lightblue;
}
/*card2 - Trainee*/
#card2{
    border: 2px solid rgb(6, 158, 123);
    box-shadow: grey 6px 6px 15px;
    transition: background-color 0.3s;
}
#card2:hover {
    background-color: rgb(166, 246, 227);
}
/*card3 - Junior*/
#card3{
    border: 2px solid rgba(229, 159, 29, 0.877);
    box-shadow: grey 6px 6px 15px;
    transition: background-color 0.3s;
}
#card3:hover {
    background-color:  rgba(235, 211, 168, 0.877);
}
/*botones borrar y resumen*/
.btn-custom{
    background-color: #97C93E;
    color: white;
    margin: 0 5px; 
    border-radius: 5px !important;
}
.btn-group {
    margin: 20px 0;
}
/*boton total a pagar*/
#totalApagar{
    background-color: #CCE5FF;
    height: 60px;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    
}
/*footer*/
footer{
    background:linear-gradient(to right,rgba(28,54,67,255), rgba(31,82,113,255));
    }
#izquierda-footer{
        text-align: left;/****/
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
}
